---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>All Things Tox</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    {% include nav.html %}
    <div class="container-fluid">
      <div class="p-5 my-4 rounded-3 .bg-light border border-dark">
        <div class="clearfix">
          <div
            id="carouselExampleCaptions"
            class="carousel slide col-md-3 float-md-end mb-3 ms-md-3"
            data-bs-ride="carousel"
          >
            <div class="carousel-indicators">
              <button
                type="button"
                data-bs-target="#carouselExampleCaptions"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleCaptions"
                data-bs-slide-to="1"
                aria-label="Slide 2"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleCaptions"
                data-bs-slide-to="2"
                aria-label="Slide 3"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleCaptions"
                data-bs-slide-to="3"
                aria-label="Slide 4"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleCaptions"
                data-bs-slide-to="4"
                aria-label="Slide 5"
              ></button>
            </div>
            <div class="carousel-inner h-10">
              <div class="carousel-item active">
                <img
                  src="/assets/images/brian1.jpg"
                  class="d-block w-100"
                  alt="..."
                />
                <div class="carousel-caption d-none d-md-block">
                  <!-- 				  <h5>First slide label</h5>
				  <p>Some representative placeholder content for the first slide.</p> -->
                </div>
              </div>
              <div class="carousel-item">
                <img
                  src="/assets/images/brian2.jpg"
                  class="d-block w-100"
                  alt="..."
                />
                <div class="carousel-caption d-none d-md-block">
                  <!-- 				  <h5>Second slide label</h5>
				  <p>Some representative placeholder content for the second slide.</p> -->
                </div>
              </div>
              <div class="carousel-item">
                <img
                  src="/assets/images/brian3.jpg"
                  class="d-block w-100"
                  alt="..."
                />
                <div class="carousel-caption d-none d-md-block">
                  <!-- 				  <h5>Third slide label</h5>
				  <p>Some representative placeholder content for the third slide.</p> -->
                </div>
              </div>
              <div class="carousel-item">
                <img
                  src="/assets/images/brian4.jpg"
                  class="d-block w-100"
                  alt="..."
                />
                <div class="carousel-caption d-none d-md-block">
                  <!-- 				  <h5>Third slide label</h5>
				  <p>Some representative placeholder content for the third slide.</p> -->
                </div>
              </div>
              <div class="carousel-item">
                <img
                  src="/assets/images/brian5.jpg"
                  class="d-block w-100"
                  alt="..."
                />
                <div class="carousel-caption d-none d-md-block">
                  <!-- 				  <h5>Third slide label</h5>
				  <p>Some representative placeholder content for the third slide.</p> -->
                </div>
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleCaptions"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleCaptions"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <p></p>
          <h3>Brian H Mathison PhD</h3>
          <p><i>Curriculum Vitae ***</i></p>

          <h4>HOME</h4>
          <p>Goleta, California, United States of America</p> 

          <h3>EDUCATION</h3>
          <p>Post Secondary Education</p>
          <ul>
            <li>
              University of Calfornia, California College of Medicine,
              Department of Community and Environmental Medicine, University of
              California, Irvine (1987-92) PhD (1993) Environmental Toxicology
              (Carcinogenesis/Pharmacology)
            </li>
            <li>
              University of California, Santa Barbara (1985-86) BA (1986)
              Biochem-Molecular Biology/Medical Technology (GPA 3.75, Magna cum
              laude)
            </li>
            <li>
              California State University, Northridge (1984) Chemistry, Medical
              Technology (GPA 4.00)
            </li>
            <li>
              Los Angeles Pierce Community College (1982-84) Chemistry, Mel
              Green Memorial Award in Chemistry, Award in Calculus (GPA 4.00)
            </li>
            <li>
              Los Angeles West Valley Occupational (Woodland Hills, CA)
              Technical School Data Entry-Computer Operations (Certificate)
            </li>
            <li>
              Angeles Valley Community College (Van Nuys, CA) AA (1980) Music &
              History, President Sigma Alpha Phi Honor Society, Chancellor’s
              Distinguished Honor Award
            </li>
          </ul>
          <p>
            Primary: Reseda High School (Class of 1976)-Additional: Automation
            specialist proficient with Microsoft® Visual Studio (VS Code &
            Community, web development), Microsoft Office®. Familiar with
            current molecular descriptors and frameworks in predictive
            toxicology. Experienced with GLP/GALPs, FDA, ICH, EPA
            guidance/guidelines; DABT certification (2000-2008)
          </p>

          ----
          <h4>WORK</h4>
          <h6>
            Scientist, Toxicologist, and Intellectual Property Consultant
            (semi-retired)
          </h6>
          <p>
            (2001-current) Consultant toxicologist and scientist assisting with
            general toxicology and intellectual property issues. Involvement
            with protocols, proposals, life cycle analysis, structure activity
            relationships across environmental, biotechnology, pharmaceutical
            sectors. Contributor to research plans, proposals, and research
            leading to the development U.S. patent applications related to
            therapeutic polynucleic acids (filings 2002-current). Negotiated
            non-disclosure agreements and strategies related to the design and
            screening of new molecular entities. Early stage development efforts
            were undertaken for an innovative class of therapeutic (e.g., U.S.
            Patent Application 20060166916 and related documents/divisional
            application(s), now patent 7,482,158, January 27, 2009. During this
            time also worked as Controller (Unit Clerk (with flexible schedule))
            from Sep-2007 to Jun-2019 (and Per Diem > 01-Jul-2014). Sodexo,
            Westmont College - assisting General Manager with Unit Financial
            System involving all aspects of resource management, accounts
            payable, cashier/cash handling procedures, billing and information
            technology (IT). Interactions periodically with Westmont College
            staff in position with flexible hours that enabled consulting and
            contractual work (with full time parenting). Additional pro-bono /
            non-compensated work coaching youth sports. Note: XpRx
            Pharmaceuticals LLC was briefly formed and ultimately dissolved
            during this time holding some intellectual property while also
            providing limited liability coverage. [US20120041055A1 Brian H.
            Mathison](https://patents.google.com/patent/US20060166916A1/en)
          </p>

          <h6>Senior Scientist / Toxicologist</h6>
          <p>
            (01-Aug-1999 to 01-Jan-2001*) ISIS (now IONIS) Pharmaceuticals, 2292
            Faraday Avenue, Carlsbad, CA 92008 Scientist, Study Director, and
            monitor with responsibilities for non-GLP and GLP toxicology studies
            supporting product development. Study design, contract monitoring,
            report generation and review of non-clinical studies and integrated
            toxicology/pharmacology sections of investigational new drug
            applications. _Position was full time prior to Nov 2001 and reduced
            to half-time after clinical trial failure of product ISIS 2302._
          </p>

          <h6>Research Toxicologist (Study Director)</h6>
          <p>
            (Feb-1993 through Dec-1998) E.I. du Pont de Nemours and Company,
            Haskell Laboratory for Toxicology and Industrial Medicine, P.O. Box
            50, Elkton Road, Newark, DE 19714-0050. Duties: Study director and
            consulting toxicologist with responsibilities for non-GLP and GLP
            toxicology studies used to support product development, registration
            and re-registration. Areas of scientific accountability included
            bacterial mutagenesis, mammalian mutagenesis, and assays related to
            the assessment of DNA damage. Coordinator of chemical discovery
            program for genetic toxicology endpoints with skills structure
            activity relationships and computational methods/models as applied
            to general toxicology. Generation of protocols, standard operating
            procedures (procedural, equipment, and testing), reports, and
            validation plans for new equipment and testing strategies.
            Supervised technicians and involved in the evaluation,
            implementation and validation of software used for data collection
            and report generation. Involvement in automation efforts designed to
            improve testing and screening capacity, cost effectiveness and
            quality. As a DuPont Post-Doctoral Fellow: Duties involved upper
            respiratory tract carcinogenesis research that involved the
            generation of data for use in physiologically-based mechanistic
            models predictive of upper airway toxicity. Research also involved
            measurements of gas/vapor uptake, respiratory parameters associated
            with sensory irritation, and characterization of time/concentration
            related regional differences in DNA damage following inhalation
            exposure to dimethyl sulfate. Measurement of the formation and
            persistence (toxicokinetics) of DNA damage (DNA adducts) with
            comparison to additional expsoure related responses in the nasal
            passageway with the intent of better characterizing human helath
            risks. Research involve construction and maintenance of inhalation
            exposure systems, integration with infrared gas analyzers, and use
            of Hewlett Packard HPLCs and GCs.
          </p>

          <h6>Ph.D. Candidate / Research Assistant</h6>
          <p>
            (Sep-1987 through Nov-1992) California College of Medicine,
            Department of Community and Environmental Medicine - Graduate
            Program in Environmental Toxicology, University of California at
            Irvine, Irvine, CA 92714. Graduate work in molecular basis of
            carcinogenesis utilizing cell culture and molecular biology
            techniques. Investigated nucleic acid damage induced in rodent
            tissues following administration of hydrazine-based pharmaceuticals.
            Research established protocol(s) for the analysis of
            5-methylcytosine (5mC) in DNA and studied effects of 5mC on the
            sequence specific alkylation of guanine. Initiated work using EBV
            infected human lymphoblasts to model carcinogen induced
            hypomethylation using methylation sensitive restriction
            endonucleases to assess reactivation of an inactivated HPRT gene.
            The UCI toxicology program required demonstration of computer
            literacy, statistical analyses as applied toward general toxicology,
            and graduate level student teaching. Additional
            pharmacology/immunology course work completed a minor emphasis of
            study.
          </p>

          <h6>Forensic Toxicologist / Criminalist</h6>

          <p>
            (1987) Orange County Sheriff-Coroner, 550 N. Flower St. Santa Ana,
            CA 92703 Duties: Basic criminalist/toxicologist responsibilities
            included urine and blood alcohol concentration analysis by
            head-space gas chromatography. Analysis of opiate, barbiturate, and
            cocaine in human blood and urine samples by GC/MS after positive
            indication(s) of drugs by immunoassay. Duties also involved
            courtroom testimony as an expert witness.
          </p>
          <h6>
            Computer Operator/Data Entry Operator (positions prior to 1987)
          </h6>
          <p>
            Moulton Data Systems Inc. / Key West Systems / Data Gap Inc.
            (Northridge / Reseda / Reseda, CA). Data entry & verification and
            some supervisory work. Positions primary used to support additional
            undergraduate college education. Typing and data entry using reverse
            10-key systems. Hourly working wages $12-20/hr.
          </p>

          <h4>PUBLICATIONS</h4>
          <p>
            <a href="https://pubmed.ncbi.nlm.nih.gov/?term=mathison+bh"
              >PubMed - Mathison BH</a
            >
          </p>
          <p>
            <a href="https://patents.google.com/patent/US7482158B2/en"
              >Patent (2009) - Mathison BH</a
            >
          </p>
          <p>
            <a href="https://patents.justia.com/patent/20120041055"
              >Patent Application (2012) - Mathison BH - 20120041055 JUSTIA</a
            >
          </p>

          <h4>REFERENCES</h4>
          <ul>
            <li>
              Bart Ziegler PhD (President Samuel Lawrence Foundation /
              Co-founder and President)
            </li>
            <li>
              Scott Loveless PhD (Retired, Director, Quantititative Assessment &
              Consulting DuPont)
            </li>
            <li>
              Matthew Bogdanffy PhD DABT (Director, Regulatory Toxicology,
              Boehringer-Ingelheim)
            </li>
            <li>
              Art Levin PhD (Former VP Drug Development Isis Pharm - now Stoke &
              Avidity NanoMedicines)
            </li>
            <li>
              Douglas Keller PhD DABT (Retired, Head Safety, Sandards and
              Innovation, Sanofi-Aventis)
            </li>
            <li>
              Ronald Shank PhD (Emeritis Professor - Progam in Environment
              Toxicology, UC Irvine)
            </li>
            <li>
              Kevin O'Dowd (Former General Manager Sodexo at Westmont College)
            </li>
          </ul>

          <p>
            Additional personal and or professional reference available upon
            request
          </p>
          <hr />
          {% include foot.html %}
        </div>
      </div>
    </div>
  </body>
</html>