<footer class="footer mt-auto py-1 bg-dark fixed-bottom">
	<div class="container">
		<p class="m-0 text-center text-white">Copyright &copy; Brian H Mathison PhD 2023 --  
		<a class="icon-link icon-link-hover" href="https://twitter.com/brianhmathison" rel="nofollow noopener noreferrer"><i class="fab fa-brand fa-square-x-twitter" aria-hidden="true"></i>Twitter</a>
		<a class="icon-link icon-link-hover" href="https://github.com/brianhmathison" rel="nofollow noopener noreferrer"><i class="fab fa-fw fa-github" aria-hidden="true"></i>GitHub</a>
		<a class="icon-link icon-link-hover" href="https://instagram.com/brianhmathison" rel="nofollow noopener noreferrer"><i class="fab fa-fw fa-instagram" aria-hidden="true"></i>Instagram</a>	
		</p>
	</div>
</footer>