<header class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1600x900')">
	<div class="text-center my-5">
	  <img class="img-fluid rounded-circle mb-4" src="/assets/images/test.jpg" alt="..." />
	  <h1 class="text-white fs-3 fw-bolder">Welcome</h1>
	  <p class="text-white mb-0">A place where toxicological sciences are grounded in the universal properties of matter and structure that determines biological activity. Where temporal responses to toxicants can be described by chemical structure and master equations considering the conservation of mass & energy within finite voxels are important; where dispassionate studied reasoning of the risks and benefits of science, technology, and engineering innovations are needed to improve quality of life.</p>
  </div>
</header>