<header class="py-5 bg-image-full splash">
	<div class="text-center my-5">
	  <img class="img-fluid rounded-circle mb-4" src="/assets/images/test.jpg" alt="..." />
	  <h1 class="text-white fs-3 fw-bolder">Welcome</h1>
	  <p class="text-white mb-0 p-2">Toxicological sciences are grounded in the universal properties of matter that determines biological activity. Temporal responses to toxicants can be described by chemical structure and master equations considering conservation of mass within finite voxels. Prefer dispassionate studied reasoning to critical thinking regarding the risks and benefits of chemicals, science, technology, and engineering innovations that are needed to improve quality of life.</p>
  </div>
</header>